.page-header
  = link_to new_team_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Team
  %h1 Listing teams
= paginate @teams
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th(rowspan=2) Login name
        %th(rowspan=2) Uid
        %th(rowspan=2) T
        %th(rowspan=2) L
        %th(colspan=2) Member count
        %th(colspan=2) League count
        %th(rowspan=2) Other
      %tr
        %th C
        %th Member
        %th C
        %th League

    %tbody
      - @teams.each do |team|
        %tr
          %td= link_to team.login_name, team, class: "label label-success"
          %td= link_to team.uid, "http://play.s11.sgame.vn/club/#{team.uid}#playerinfo", target: :_blank, class: "label label-info"
          %td= team.team_uid
          %td= team.league_uid
          %td= team.member_count
          %td
            - team.players.where(team_uid: team.team_uid).each do |p|
              = p.name_grade
          %td= team.league_count
          %td
            - team.players.where(league_uid: team.league_uid, grade: [2,3]).each do |p|
              = p.name_grade
          %td
            - team.players.where(league_uid: team.league_uid, grade: [2,3, 7]).where.not(team_uid: team.team_uid).each do |p|
              = p.name_grade
