.page-header
  = link_to new_team_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Team
  %h1 Listing teams
= paginate @teams
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Login name
        %th Uid
        %th Team uid
        %th League uid
        %th Member count
        %th League count
        %th
        %th
        %th

    %tbody
      - @teams.each do |team|
        %tr
          %td= team.login_name
          %td= link_to team.uid, "http://play.s11.sgame.vn/club/#{team.uid}#playerinfo", target: :_blank, class: "label label-info"
          %td= team.team_uid
          %td= team.league_uid
          %td
            = team.member_count
            %br
            - team.players.where(team_uid: team.team_uid).each do |p|
              = p.name_grade
          %td
            = team.league_count
            %br
            - team.players.where(league_uid: team.league_uid, grade: [2,3]).each do |p|
              = p.name_grade
          %td= link_to 'Show', team
          %td= link_to 'Edit', edit_team_path(team)
          %td= link_to 'Destroy', team, :data => { confirm: 'Are you sure?' }, :method => :delete
