.page-header
  = link_to teams_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_team_path(@team), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show team

%dl.dl-horizontal
  %dt Login name:
  %dd= @team.login_name
  %dt Uid:
  %dd= @team.uid
  %dt Team uid:
  %dd= @team.team_uid
  %dt League uid:
  %dd= @team.league_uid
  %dt Member count:
  %dd
    = @team.member_count
    - if @team.team_uid == 819
      %table
        %tr
          %td= s11_image_73(@team.team_form[:in_form]["RW"][0])
          %td(colspan=2)= s11_image_73(@team.team_form[:in_form]["ST"][0])
          %td= s11_image_73(@team.team_form[:in_form]["LW"][0])
        %tr
          %td
          %td= s11_image_73(nil)
          %td= s11_image_73(nil)
          %td
        %tr
          %td
          %td= s11_image_73(@team.team_form[:in_form]["CM"][0])
          %td= s11_image_73(@team.team_form[:in_form]["CM"][1])
          %td
        %tr
          %td
          %td(colspan=2)= s11_image_73(@team.team_form[:in_form]["CDM"][0])
          %td
        %tr
          %td= s11_image_73(@team.team_form[:in_form]["RB"][0])
          %td= s11_image_73(@team.team_form[:in_form]["CB"][0])
          %td= s11_image_73(@team.team_form[:in_form]["CB"][1])
          %td= s11_image_73(@team.team_form[:in_form]["LB"][0])
        %tr
          %td
          %td(colspan=2)= s11_image_73(@team.team_form[:in_form]["GK"][0])
          %td
      %table
        %tr
          %th Name
          %th Image
          %th Name
          %th Image
          %th Name
          %th Image
        - @team.team_form[:other].each_slice(6) do |pp|
          %tr
            - pp.each do |p|
              %td= s11_image_73(p)
    - else
      %table
        %tr
          %th Name
          %th Image
          %th Name
          %th Image
          %th Name
          %th Image
        - @team.players.where(team_uid: @team.team_uid).each_slice(6) do |pp|
          %tr
            - pp.each do |p|
              %td= s11_image_73(p)
  %dt League count:
  %dd
    = @team.league_count
    %table
      %tr
        %th Name
        %th Image
        %th Name
        %th Image
        %th Name
        %th Image
      - @team.players.where(league_uid: @team.league_uid).each_slice(6) do |pp|
        %tr
          - pp.each do |p|
            %td= s11_image_73(p)
  %dt Player count:
  %dd
    = @team.players.count
    %table
      %tr
        %th Name
        %th Image
        %th Name
        %th Image
        %th Name
        %th Image
      - @team.players.each_slice(6) do |pp|
        %tr
          - pp.each do |p|
            %td= s11_image_73(p)
