.page-header
  = link_to players_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_player_path(@player), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show player

%dl.dl-horizontal
  %dt Team:
  %dd= @player.team
  %dt Name:
  %dd= @player.name
  %dt Uid:
  %dd= @player.uid
  %dt Team uid:
  %dd= @player.team_uid
  %dt League uid:
  %dd= @player.league_uid
  %dt Grade:
  %dd= @player.grade
